# Ignored Editor files
.vscode


__pycache__

# Practice files
practice.*

# Csv and text files
*.csv
file.txt
temp_data.txt


image-bg-remover/*.png
image-bg-remover/*.jpg

# Ignore virtual env files
venv

QRs/